<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xianglanqi.angrygirl"
    android:versionCode="6"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name="com.xianglanqi.angrygirl.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditDescriptionActivity" />
        <!--
        <activity
            android:name="com.xianglanqi.angrygirl.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="51dd7a9556240bd40e00a7c6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="google_play" />
    </application>

</manifest>